# Python cache
__pycache__/
*.pyc

# IDE / OS files
.vscode/
.DS_Store

# --- ⭐️ สำคัญที่สุด! ⭐️ ---
# ห้ามอัปโหลดโฟลเดอร์ Dataset ที่มีรูปภาพ!
# มันใหญ่เกินไปสำหรับ GitHub
train/
test/

# (ถ้าคุณบันทึกโมเดลไว้ ก็เพิ่มบรรทัดนี้ด้วย)
# *.h5
# *.keras